
<div class="loading-screen" *ngIf="showLoading">
  <p>Menyiapkan gambar-gambar...</p>
  <div class="loader"></div>
</div>
  <audio id="bg-audio" autoplay loop muted>
    <source src="https://res.cloudinary.com/derdez54y/video/upload/v1769246470/crown_d2yjyx.mp3" type="audio/mpeg">
    Browser Anda tidak mendukung audio.
  </audio>
<div class="moon-img"><img class="spin" src="/assets/images/moon.png" alt=""></div>
<div class="banner">
    <h2>We Are One!</h2>
    <div class="slider" style="--quantity: 10">
      <div class="item" style="--position: 1"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270475/157_gpn07u.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 2"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270475/156_jhavdy.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 3"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270474/151_aiatun.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 4"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270473/152_x06ine.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 5"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270475/155_pviaz5.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 6"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270473/154_e23fmr.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 7"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270472/148_xnifhg.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 8"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270473/149_h7yhlb.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 9"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270473/153_ijgnx4.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
      <div class="item" style="--position: 10"><img src="https://res.cloudinary.com/derdez54y/image/upload/v1769270474/150_wgfn5j.png" (load)="onImageLoad()" (error)="onImageLoad()"></div>
    </div>
    <button class="btn-unmute" (click)="unmuteAudio()" *ngIf="showUnmute">
        🔊
    </button>
    <div class="content">
          <h1 data-content="EXO FAN QUEST">
              EXO FAN QUEST
          </h1>
          <div class="model"></div> 
    </div>
    <div class="author">
        <h3>A FAN WEBSITE</h3>
        <div class="item">
            <p>Made with Love by © <strong><i>Jjomira Corner</i></strong></p>
        </div>
    </div>
    <div class="start-play">
            <span class="span1" style="color: #fff;"><strong><i>My Dearest EXO-L,</i></strong></span>
            <span class="span2" style="color: #fff; margin-bottom: 10px;"><i>Ready to feel more excited?</i></span>
            <button class="btn btn-primary btn-glow" (click)="goToRoute('/introducing')">Let's Begin The Journey</button>
    </div>
</div>