@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(400px);
}
.banner .slider .item img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}
.moon-img{
    position: absolute;
    display: flex;
    justify-content: right;
    height: 300px;
    width: 100%;
    overflow: hidden;
    pointer-events: none; 
}
.moon-img img{
    margin-right: -5%;
    margin-top: -5%;
    height: 300px;
    width: 300px;
    object-fit: contain;
    transform: translateX(20%);
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: bottom;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 12em;
    line-height: 1em;
    color: #25283B;
    position: relative;
    width: 100%;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner h2{
    margin-top: 20px;
    font-size: 2.5em;
    color: #fff;
}
.banner .author {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: min(300px, 100vw);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: left;
    align-items: left;
    z-index: 2;
}
.banner .author h3{
    margin-top: 10px;
    font-size: 2em;
    color: #fff;
}

.banner .author .item {
    display: flex;
    margin-top: -40px;
    position: relative;
    justify-content: left;
    align-items: left;
    color: #fff;
}

.banner .start-play {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: min(300px, 100vw);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 135px;
    justify-content: right;
    align-items: right;
    z-index: 2;
}

.banner .content .model{
    background-image: url(/assets/images/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 220%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }

    .banner .content h1{
        font-family: 'ICA Rubrik';
        font-size: 1em;
        line-height: 1em;
        color: #25283B;
        position: relative;
        width: 100%;
        margin-top: -350px; 
    }

    .banner .content h1::after{
        position: absolute;
        inset: 0 0 0 0;
        content: attr(data-content);
        z-index: 2;
        -webkit-text-stroke: 2px #d2d2d2;
        color: transparent;
    }

    .banner .content .model{
        width: 100%;
        height: 75vh;
        position: absolute;
        bottom: 0;
        left: 0;
        background-size: auto 150%;
        background-repeat: no-repeat;
        background-position: top center;
        z-index: 1;
    }

    .banner h2 {
        margin-top: 20px;
        font-size: 2em;
    }

    .moon-img{
        position: absolute;
        display: flex;
        justify-content: right;
        height: 300px;
        width: 100%;
        overflow: hidden;
        pointer-events: none; 
    }
    .moon-img img{
        margin-right: -5%;
        margin-top: -5%;
        height: 250px;
        width: 250px;
        object-fit: contain;
        transform: translateX(20%);
    }
}

@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(150px);
    }

    .banner .content h1{
        font-family: 'ICA Rubrik';
        font-size: 5em;
        line-height: 1em;
        color: #25283B;
        position: relative;
        width: 100%;
        margin-top: -400px; 
    }

    .banner .content h1::after{
        position: absolute;
        inset: 0 0 0 0;
        content: attr(data-content);
        z-index: 2;
        -webkit-text-stroke: 2px #d2d2d2;
        color: transparent;
    }

    .banner h2 {
        margin-top: 20px;
        font-size: 2em;
    }

    .banner .content .model{
        width: 80%;
        height: 60vh;
        position: absolute;
        bottom: 150%;
        left: 10%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: top center;
        z-index: 1;
    }

    .moon-img{
        position: absolute;
        display: flex;
        justify-content: right;
        height: 200px;
        width: 100%;
        overflow: hidden;
        pointer-events: none; 
    }
    .moon-img img{
        margin-right: -10%;
        margin-top: -5%;
        height: 150px;
        width: 150px;
        object-fit: contain;
        transform: translateX(50%);
    }

    .banner .author {
        position: absolute;
        width: 100vw;
        left: 0%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .banner .author h3{
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

 

    .banner .author .item {
        width: 100vw;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .banner .author p{
        margin-top: 20px;
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

    .banner .start-play {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

        flex-wrap: wrap;
        padding-bottom: 135px;
        z-index: 2;
    }

    .banner .start-play .span1,
    .banner .start-play .span2 {
        color: #fff;
        text-align: center;
    }

    .banner .start-play .span2 {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 12px;
    }

    .banner .start-play button {
        width: auto;
        margin-top: 20px;
        align-self: center;
    }

}

.loading-screen {
    position: fixed;
    inset: 0;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1200;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #555;
    border-top: 6px solid #c080ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}
