
<div class="moon-img"><img class="spin" src="/assets/images/moon.png" alt=""></div>
<div class="banner">
    <h2>We Are One!</h2>
    <div class="slider" style="--quantity: 10">
      <div class="item" style="--position: 1"><img src="/assets/images/slider1.png" alt=""></div>
      <div class="item" style="--position: 2"><img src="/assets/images/slider2.png" alt=""></div>
      <div class="item" style="--position: 3"><img src="/assets/images/slider3.png" alt=""></div>
      <div class="item" style="--position: 4"><img src="/assets/images/slider4.png" alt=""></div>
      <div class="item" style="--position: 5"><img src="/assets/images/slider5.png" alt=""></div>
      <div class="item" style="--position: 6"><img src="/assets/images/slider6.png" alt=""></div>
      <div class="item" style="--position: 7"><img src="/assets/images/slider7.png" alt=""></div>
      <div class="item" style="--position: 8"><img src="/assets/images/slider8.png" alt=""></div>
      <div class="item" style="--position: 9"><img src="/assets/images/slider9.png" alt=""></div>
      <div class="item" style="--position: 10"><img src="/assets/images/slider10.png" alt=""></div>
    </div>
    <div class="content">
          <h1 data-content="EXO FAN QUEST">
              EXO FAN QUEST
          </h1>
          <div class="model"></div> 
    </div>
    <div class="author">
        <h3>A FAN WEBSITE</h3>
        <div class="item">
            <p>Made with Love by © <strong><i>Jjomira Corner</i></strong></p>
        </div>
    </div>
    <div class="start-play">
            <span class="span1" style="color: #fff;"><strong><i>My Dearest EXO-L,</i></strong></span>
            <span class="span2" style="color: #fff; margin-bottom: 10px;"><i>Ready to feel more exited?</i></span>
            <button class="btn btn-primary btn-glow" (click)="goToRoute('/introducing')">Let's Begin The Journey</button>
    </div>
</div>