.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.popup-card {
  background: #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  margin: 10px;
}

.popup-card.intro h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #333;
}

.popup-card.end h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #222;
}

.end-meme {
  width: 220px;
  border-radius: 1rem;
  margin: 1rem auto;
  display: block;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
    background: linear-gradient(135deg, #995ec9, #0962df);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s;
}

.btn.start {
  background-color: #66b5ff;
  color: white;
}

.btn.start:hover {
  background-color: #a270f8;
}

.btn.replay {
  background-color: #66ffbf;
}

.btn.next {
  background-color: #66a5cc;
  color: #fff;
}

.loading-screen {
    position: fixed;
    inset: 0;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1200;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #555;
    border-top: 6px solid #c080ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.options-grid { 
  display: grid; 
  grid-template-columns: 
  repeat(4, 140px); gap: 20px;
  justify-content: center; 
  justify-items: center; 
  align-items: center; 
  margin-top: 10px; 
}

.option-card {
  width: 100%;
  max-width: 160px;
  aspect-ratio: 3 / 4;  
  padding: 5px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #bb8fce;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 217, 255, 0.6);
  }

  &.selected {
    border-color: #fff;
    box-shadow: 0 0 16px #00ffff;
  }
}

.option {
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  aspect-ratio: 1 / 1;
  background: rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
