<nav> 
  <div style="font-weight:700; display: flex;">
    <img class="logo-img" src="/assets/images/logo.png" alt=""> 
    <h3>EXO Fan Quest</h3>
  </div>
  <div>
    <button 
      style="padding-top: 7px; padding-bottom: 7px; padding-right: 12px; padding-left: 12px; margin-right: 5px;"
      (click)="goToRoute('/')" class="btn btn-secondary"> Share </button>
    <button 
      style="padding-top: 7px; padding-bottom: 7px; padding-right: 12px; padding-left: 12px; margin-right: 5px;"
      (click)="goToRoute('/')" class="btn btn-secondary"> Shop </button>
  </div>
</nav>
<main>
  <app-falling-stars></app-falling-stars>
  <router-outlet></router-outlet>
</main>
