.card-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-container {
    position: relative;
    width: 760px;
    max-width: 90%;
    height: max-content;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,.04);
    font-family: 'Baloo 2', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 3em;
    font-weight: 600;
    color: #fbfbfb;
    text-align: center;
    font-family: "Playwrite US Modern", cursive;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


.options-grid { 
  display: grid; 
  grid-template-columns: 
  repeat(4, 140px); gap: 20px;
  justify-content: center; 
  justify-items: center; 
  align-items: center; 
  margin-top: 10px; 
}

.option-card {
  width: 100%;
  max-width: 160px;
  aspect-ratio: 3 / 4;  
  padding: 5px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #bb8fce;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 217, 255, 0.6);
  }

  &.selected {
    border-color: #fff;
    box-shadow: 0 0 16px #00ffff;
  }
}

.option {
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  aspect-ratio: 1 / 1;
  background: rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Pop-up aesthetic */
.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-card {
  background: #ffffff;
  border: 2px solid #bb8fce;
  border-radius: 18px;
  padding: 30px;
  text-align: center;
  width: 300px;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;

  button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
  }

  .yes {
    background: linear-gradient(90deg,  #f985d2, #3da4d8);
    color: #fff;
  }

  .no {
    background: #333;
    color: #bb8fce;
  }

  .yes:hover,
  .no:hover {
    transform: scale(1.05);
  }
}

.result {
  margin-top: 16px;

  p {
    font-size: 1.2rem;
    &.correct {
      color: #00ffb7;
    }
    &.wrong {
      color: #ff4e4e;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



.option-name {
    bottom: 5px;
    font-size: 20px;
    color: #fbfbfb;
    text-align: center;
    line-height: 1.1;
}

.popup-icon {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  animation: memePop 0.4s ease;
}

@keyframes memePop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.circle-timer {
  --size: 40px;
  --progress: 100deg; 

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  margin: 10px;
  top: 5px;
  right: 5px;

  background:
    conic-gradient(
      #ba86ee var(--progress),
      #dcdcdc 0deg
    );

  display: flex;
  align-items: center;
  justify-content: center;
}

.time-text {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@media screen and (max-width: 767px) {
  .main-title {
    font-size: 1.5em;
  }

  .options-grid { 
    grid-template-columns: 
    repeat(2, minmax(120px, 1fr));
    gap: 20px;
  }
  .option-card {
    width: 100%;          
    max-width: 120px;
    aspect-ratio: 3 / 4; 
  }

}

@media screen and (max-width: 1023px) {
  .main-title {
    font-size: 2em;
  }

  .options-grid { 
    grid-template-columns: 
    repeat(2, minmax(120px, 1fr));
    gap: 20px;
  }
  .option-card {
    width: 100%;          
    max-width: 120px;
    aspect-ratio: 3 / 4; 
  }

  .circle-timer {
    width: 30px;
    height: 30px;
  }
}
