<div class="moon-img"><img class="spin" src="/assets/images/moon.png" alt=""></div>
<div class="img-group">
    <img src="/assets/images/exo-ot-9.png" alt="">
    <img src="/assets/images/we-are-one.png" alt="">
</div>
<h1 class="main-title">Start Your Journey!</h1>
<div class="card-container">
    <h2>Salam kenal, {{ userName }}!</h2>
    <p>Ayo jelajahi EXO Planet bersama <strong>EXO Fan Quest</strong>, tempat kamu bisa nunjukin seberapa cintanya kamu sama <strong>EXO</strong>! </p>
    <p>Website ini dibangun sebagai bentuk cinta dan euforia untuk memeriahkan <strong>Comeback EXO</strong> setelah sekian lama!</p>
    <p>Yuk rayakan momen bersejarah ini bareng EXO-L lainnya lewat <strong>EXO Fan Quest</strong> — tempat seru buat main quiz, susun puzzle, dan kumpulin <em>PhotoCard digital</em> dan kejutan lainnya!</p>
    <p>Semoga dengan hadirnya <strong>EXO Fan Quest</strong>, EXO-L makin solid, makin kreatif, dan makin semangat ngedukung EXO di setiap langkah mereka. 💪</p>
    <p>Dan semoga EXO selalu diberi kesehatan, kebahagiaan, dan kesempatan untuk terus berkarya bersama!</p>
    <p>Jangan lupa bantu dukung kami dengan share toko kami atau mutualan di Instagram creator!</p>
    <div class="action-row">
        <div class="social-links">
            <a href="https://shopee.co.id/fanquestshop" target="_blank" class="btn-link shop-link">
                <img src="/assets/icons/shopee.svg" alt="Shopee" class="icon" />
                <span>Kunjungi Shop</span>
            </a>

            <a href="https://www.instagram.com/jj_handini/" target="_blank" class="btn-link ig-link">
                <img src="/assets/icons/instagram.svg" alt="Instagram" class="icon" />
                <span>Follow Creator</span>
            </a>
        </div>
        <button class="btn btn-primary btn-glow" style="margin-top: 13px;" (click)="goToRoute('/quest')">
            Let's Have Fun!
        </button>
    </div>

</div>
  